<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Story Site</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
  <link rel="stylesheet" href="/css/layout.css">
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '160829414503420',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.10'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=160829414503420&access_token=0e1330f120407267bbe32bc35b284e0f";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <a href="/" class="navbar-brand">My Site</a>
      <ul class="nav navbar-nav">
        <li><a href="/search?search_bar=all">Story Square</a></li>
        <% if (login) { %>
          <li><a href="/post">Share My Story</a></li>
        <% } else { %>
          <li><a href="/login">Share My Story</a></li>
        <% } %>
      </ul>
      <form action="/search" method="GET">
        <div class="form-group">
          <input type="text" id="search_bar" name="search_bar" class="form-control" placeholder="Explore more stories">
					<button type="submit" class="btn btn-primary btn-lg" >Search</button>
        </div>
 
      </form>
      <% if (login) { %>
        <div class="container" id = "iconname">
					<img src="http://www.psdgraphics.com/wp-content/uploads/2009/11/gold-coin.jpg" class="img-rounded" alt="Cinque Terre" id="coin">
          <h3 style="margin-left:10%;"><%=login.coins%>  | <%= login.username %> </h3>
        </div>
        <img src="<%= login.icon%>" class="img-rounded" alt="Cinque Terre" width="45" height="45" id="icon" style="margin-left:5%;"> 
        <form action="/logout" method="GET">
          <div class="form-group">
            <button class="btn btn-primary btn-lg" id="NLO">Logout</button>
          </div>
        </form>
      <% } else { %>
        <form action="/login" method="GET">
          <div class="form-group">
            <button class="btn btn-primary btn-lg" id="NLI">Login</button>
          </div>
        </form>
        <form action="/sign_up" method="GET">
          <div class="form-group">
            <button class="btn btn-primary btn-lg" id="NSU">Sign Up</button>
          </div>
        </form>
      <% } %>
    </nav>
  </header>

  
  <!-- MAIN CONTENT HERE -->
  <%- defineContent('layout') %>

  <footer>
    Story Site. Copyright &copy; 2017

  </footer>
</body>
</html>