#homebutton{
  border: 2px solid rgb(0,0,0);
  color: RGB(0,0,0);
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  background: #FFFAF0;
  padding: 12px 35px;
}
#homebackpic{
    background-imgurl(../img/homepage.png)
}
#layoutSearch{
  border: 2px solid rgb(0,0,0);
  color: RGB(0,0,0);
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  background: #FFFAF0;
  padding: 12px 35px;
}
#search{
    display: inline;
}
#linkbutton{
	font-weight: bold;
	font-size: 30px;
	color: darkgray;
	left:25%;
	display:inline;
	float:right;
}
#trend{
	font-weight: bold;
	font-size: 30px;
}
#control{
	padding-left: 0px
}
#labels{
	display: inline-block;
	left: 10px;
}
#pic1{
	content: url(../img/When-a-Man-Falls-in-Love.jpg);
}

.theme {
	background-img url(../img/When-a-Man-Falls-in-Love.jpg);
  background-repeat: no-repeat;
  background-size: 350px 300px;
  background-position: 0 50%;
	height: 60px;
  padding: 50px 0;
  min-height: 400px;
	bottom:30px;
  position: relative;
	display: inline-block;
	float: left;
}
.theme-content{
  position: relative;
  text-align: center;
  width: 25%;
	top:35%;
}
#work{
	width:1000px;
	margin:3% auto 3% auto;
}

.item{
	border-radius:15px;
	width:180px;
	height:185px;
	background-color:#FFF;
	margin:10px;
	float:left;
	-webkit-box-shadow: 0 1px 3px #c3c3c3;
    -moz-box-shadow: 0 1px 3px #c3c3c3;
    box-shadow: 0 1px 3px #c3c3c3;  
	overflow:hidden;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	-ms-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}


.item:hover{
	-webkit-box-shadow: 0 0 8px #f38094, 0 0 8px #f38094;
    -moz-box-shadow: 0 0 8px #f38094,  0 0 8px #f38094;
    box-shadow: 0 0 8px #f38094,  0 0 8px #f38094; 
}
	

.item img{
	display:block;
	width:100%;
	-webkit-box-shadow: 0 2px 1px #c3c3c3;
    -moz-box-shadow: 0 2px 1px #c3c3c3;
    box-shadow: 0 2px 1px #c3c3c3;
	border-radius:15px 15px 0 0;
	opacity:0.8;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	
}

.item img:hover{
	opacity:1;
}


.item h3{
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:105%;
	font-weight:normal;
	padding:5px 0 0 8px;
	color:#2d2d2d;
	text-decoration:none;
}

.item h3 a{
	text-decoration:none;
	color:#2d2d2d;
}

.item p{
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:70%;
	font-weight:normal;
	padding:0 0 0 8px;
	color:#f38094;
	text-decoration:none;
}

.clearfix {
	float: none;
	clear: both;
}
#pic1{
	content: url(../img/2.jpg);
}
#pic2{
	content: url(../img/img/work/thumbs/item10.png);
}
#pic3{
	content: url(../img/img/work/thumbs/item2.png);
}
#pic4{
	content: url(../img/img/work/thumbs/item3.png);
}
#pic5{
	content: url(../img/img/work/thumbs/item4.png);
}
#pic6{
	content: url(../img/img/work/thumbs/item5.png);
}
#pic7{
	content: url(../img/img/work/thumbs/item6.png);
}
#pic8{
	content: url(../img/img/work/thumbs/item7.png);
}
#pic9{
	content: url(../img/img/work/thumbs/item8.png);
}
#pic10{
	content: url(../img/img/work/thumbs/item9.png);
}