body {
  font-size: 16px;
  line-height: 1.5;
}

.navbar-inverse {
    background-color: white;
    border-color: #E7E7E7;
}

.navbar-inverse .navbar-nav > li > a {
   color: #006699; 
   font-size:20px;
}

.navbar-inverse .navbar-brand {
    color: #006699;
    font-size:20px;
}

.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #006699;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: #006699;
}

.form-group > input{
  width: 300px;
  position: absolute;
  top: 20%;
  left: 38%;
}

.form-group .btn {
  border-radius: 10px;
  padding: 8px 20px;
  position: absolute;
  top: 8%;
  left: 55%;
	margin-left: 6%;
}

#NLI{
  border-radius: 10px;
  padding: 8px 20px;
  position: absolute;
  top: 8%;
  left: 85%;
	margin-left: 0.5%;
}

#NSU{
  border-radius: 10px;
  padding: 8px 20px;
  position: absolute;
  top: 8%;
  left: 91%;
	margin-left: 1%;
}

#NLO{
  border-radius: 10px;
  padding: 8px 20px;
  position: absolute;
  top: 8%;
  left: 86%;
}
#coin{
	position: absolute;
  top: 10%;
  width:57px; 
	height:45px;
	margin-left:5%;
}
#icon{
  border-radius: 5px;
  position: absolute;
  top: 8%;
	left: 83%;
}

#iconname{
  color: #006699; 
  position: absolute;
  top: -10%;
  left: 66%;
}



header .navbar {
  border-radius: 0;
  margin: 0;
  min-height: 30px;
}


.hero {
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505930293328&di=f55fd91d7855fe3c929f046c81640ab7&imgtype=jpg&src=http%3A%2F%2Fimg0.imgtn.bdimg.com%2Fit%2Fu%3D2856336028%2C2680538507%26fm%3D214%26gp%3D0.jpg);
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  min-height: 650px;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}


.hero-content h2 {
  color: #FFF;
  font-size: 80px;
}

.hero-content p {
  color: #FFF;
  font-size: 40px;
  margin-bottom: 30px;
}

.hero-content .btn {
  border-radius: 2px;
  padding: 20px 30px;
}  



main {
  min-height: 500px;
  padding: 50px 0;
}

footer {
  padding: 30px 0;
  font-size: 14px;
  color: #BBB;
  background: #222;
  text-align: center;
}