.login {
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505930293328&di=f55fd91d7855fe3c929f046c81640ab7&imgtype=jpg&src=http%3A%2F%2Fimg0.imgtn.bdimg.com%2Fit%2Fu%3D2856336028%2C2680538507%26fm%3D214%26gp%3D0.jpg);
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  min-height: 900px;
  position: relative;
}

.login-content {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}


.login-content h2 {
  color: #FFF;
  font-size: 80px;
}

.login-content p {
  color: #FFF;
  font-size: 40px;
  margin-bottom: 30px;
}

.login-content .btn {
  border-radius: 2px;
  padding: 20px 30px;
}  

#LIC{
  z-index:99999;
  position: absolute;
  top :20%;
  left: 30%;
  width: 650px;
  min-height: 400px;
  background-color: rgba(0,0,0,0.75);
}

#LIfrom{
  width: 500px;
  position: absolute;
  top :35%;
  left :12%;
}

#FBlogin{
  width: 490px;
  position: absolute;
  top :20%;
  left :12%;
}

#LIbtn{
  top: 95%;
  left: 75%;
}
#password,#email{
  width: 450px;
  position: relative;
  top: 10%;
}
