.ppost {
  background-image: url("../img/post_background.jpg");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  min-height: 750px;
  position: relative;
  background-attachment: fixed
}

.ppost-content {
  position: absolute;
  top: 0%;
  left: 25%;
  width: 100%;
}


.ppost-content h2 {
  color: #FFF;
  font-size: 55px;
}

.ppost-content p {
  color: #FFF;
  font-size: 20px;
  margin-bottom: 30px;
}
.input{
      position: absolute;
	  left: 25%;
	  top: 125px;
      width:700px;
	  height:30px;
	  opacity:0.8;
	  border-radius: 8px;
}
  .textarea{
      position: absolute;
	  left: 25%;
	  top: 400px;
      width:900px;
	  height:800px;
	  opacity:0.8;
	  border-radius: 8px;
 }
 .myButton {
   	position: absolute;
    left: 69%;
		top: 625px;
		-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	 	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
		box-shadow: 0px 0px 0px 2px #9fb4f2;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
		background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
		background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
		background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
		background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
		background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
		background-color:#7892c2;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		border:1px solid #4e6096;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:16px;
	 	padding:6px 15px;
	 	text-decoration:none;
		text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	position: absolute;
	left: 69%;
	top: 625px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.myButton:active {
	position: absolute;
	left: 69%;
	top: 625px;
	top:1px;
}
.btn-discard {
    float: right;
}
.text{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d0d1d3;
    background: #ebf1f8;
    border-radius: 2px;
    padding:0 12px;
    font-size: 14px;
    color: #70808b;
    width: 100%;
    margin: 0;

}
.text1{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d0d1d3;
    background: #ebf1f8;
    border-radius: 2px;
    padding:0 12px;
    font-size: 14px;
    color: #70808b;
    width: 100%;
    margin: 0;
		height: 50px;
}
ol, ul {
    /* padding-left: 30px; */
}