.ssearch {
  background-image: url("../img/search.jpg");
  background-repeat: repeat;;
  background-size: cover;
  background-position: center 60px;
  padding: 50px 0;
  min-height: 750px;
  position: relative;
  background-attachment: fixed;
}

.ssearch-content {
  position: relative;
  top: 0%;
  width: 100%;
}


.result {
  position: relative;
  top: 0%;
  width: 100%;
  margin-bottom: 100px;
}


.result h2 {
  color: #FFF;
  font-size: 25px;
  left: 300px;
}

.result p {
  color: #FFF;
  font-size: 20px;
  margin-bottom: 20px;
}

.result body {
  color: #FFF;
  font-size: 20px;
  margin-bottom: 20px;
}

  
.marg_right1{ 
  margin-right:40px
  color:#FFF;
}
