.sign_up {
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505930293328&di=f55fd91d7855fe3c929f046c81640ab7&imgtype=jpg&src=http%3A%2F%2Fimg0.imgtn.bdimg.com%2Fit%2Fu%3D2856336028%2C2680538507%26fm%3D214%26gp%3D0.jpg);
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  min-height: 900px;
  position: relative;
}

.sign_up-content {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}


.sign_up-content h2 {
  color: #FFF;
  font-size: 80px;
}

.sign_up-content p {
  color: #FFF;
  font-size: 40px;
  margin-bottom: 30px;
}

.sign_up-content .btn {
  border-radius: 2px;
  padding: 20px 30px;
}  


#SUC{
  z-index:99999;
  position: absolute;
  top :15%;
  left: 30%;
  width: 650px;
  min-height: 500px;
  background-color: rgba(0,0,0,0.75);
}

#SUfrom{
  width: 300px;
  position: absolute;
  top :15%;
  left :12%;
}

#SUbtn{
  top: 100%;
  left: 110%;
}

#firstname,#lastname,#email,#password,#username{
  width: 450px;
  position: relative;
  top: 10%;
  left: 4%;
  min-height: 35px;
}

#emailw{
  min-height: 40px;
  border-width: 6px;
  width: 450px;
  position: relative;
  top: 10%;
  left: 4%;
}

