.hero {
  background-image: url(../img/7.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  padding: 50px 0;
  min-height: 1500px;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 15%;
	left:10%;
  text-align: left;
}
#readbox{
	top: 200px;
	left:5%;
	width: 65%;
	height: 500px;
	padding: 20px 20px 20px 20px;
	border-radius: 1%;
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color:rgba(240, 255, 255, 0.7);
	opacity: 50%;

}
div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius: 10px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

.profile 
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
#pic{
	content: url(../img/download.jpg)
}
#cardposition{
	margin-top: 10%;
}
.col-lg-offset-3 {
    margin-left: 5%;
}
.well{
	width: 1000px;
}
.well profile{
	opacity: 50%;
}
#aa{
	display: inline-block;
	margin-left: 20px;
}
blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: rgba(240, 255, 255, 0.7);
    margin-top: 25px;
    color:white;
    width: auto;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    
}

.quotation-mark{
    
    margin-top: -20px;
    font-weight: bold;
    font-size:80px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
    
}

.quote-text{
    
    font-size: 19px;
    margin-top: -65px;
}