<%- contentFor('layout') %>
<link rel="stylesheet" href="/css/post.css">
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
<link rel="stylesheet" href="/css/layout.css">
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>
<div class="uk-section uk-section-Muted">
	<div class="uk-container uk-container-large">
		<form action="/postcom" method="post">
			<fieldset class="uk-fieldset">
				<legend class="uk-legend">Comment</legend>
				<div class="uk-margin">
					<textarea class="uk-textarea" rows="10" placeholder="Textarea" id = "contain" name = "contain"></textarea>
				</div> 
				<legend class="uk-legend">Extra pay</legend>
				<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" id = "ep" name = "ep">					
					<label><input class="uk-radio" type="radio" name="radio2" checked>0</label>
					<label><input class="uk-radio" type="radio" name="radio2">1</label>
					<label><input class="uk-radio" type="radio" name="radio2">2</label>
					<label><input class="uk-radio" type="radio" name="radio2">3</label>
					<label><input class="uk-radio" type="radio" name="radio2">4</label>
				</div>
			
			</fieldset>
			<button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type = "submit">comment</button>
		</form>
	</div>
</div>
	