<%- contentFor('layout') %>
<link rel="stylesheet" href="/css/home.css">
<section class="hero" id="homebackpic">
  <div class="hero-content">
    <h2>WELCOME TO STORY WORLD!</h2>
    <p>Start Your Masterpiece</p>
    <% if (login) { %>
    <a href="/post" class="btn btn-default" id="homebutton">WRITE NOW</a>
    <% } else { %>
    <a href="/login" class="btn btn-default" id="homebutton">WRITE NOW</a>
    <% } %>
  </div>
</section>
<section>
	<div class="container" id="control"> 
		<h2 id="labels">Trending</h2>
  	<button onclick="location.href='/search?search_bar=all';" type="button" class="btn btn-link" id="linkbutton">SEE MORE>></button>
	</div>
</section>
<section id="work"> <!-- Work Links Section Start -->
    	<div class="item">
        	<a href="/"><img id="pic1"></a><!-- Image must be 400px by 300px -->
            <h3>ROMANCE</h3><!--Title-->
            <p>Find</p><!--Category-->
        </div><!--/item-->
        
        <div class="item">
        	<a href="/"><img id="pic2"></a><!-- Image must be 400px by 300px -->
        	<h3>SCIENCE-FICTION</h3><!--Title-->
            <p>photography</p><!--Category-->
        </div><!--/item-->
        
        <div class="item">
        	<a href="/"><img id="pic3"></a><!-- Image must be 400px by 300px -->
        	<h3>CLASSICS</h3><!--Title-->
            <p>photo manipulation</p><!--Category-->
        </div><!--/item-->
        
        <div class="item">
        	<a href="/"><img id="pic4"></a><!-- Image must be 400px by 300px -->
        	<h3>HUMOR</h3><!--Title-->
            <p>photo manipulation</p><!--Category-->
        </div><!--/item-->
        
        <div class="item">
        	<a href="/"><img id="pic5"></a><!-- Image must be 400px by 300px -->
        	<h3>TEEN FICTION</h3><!--Title-->
            <p>photography</p><!--Category-->
        </div><!--/item-->
        
        	<div class="item">
        	<a href="/"><img id="pic6"></a><!-- Image must be 400px by 300px -->
            <h3>>HORROR</h3><!--Title-->
            <p>photography</p><!--Category-->
        </div><!--/item-->
        
        <div class="item">
        	<a href="/"><img id="pic7"></a><!-- Image must be 400px by 300px -->
        	<h3>ADVANTURE</h3><!--Title-->
            <p>illustration</p><!--Category-->
        </div><!--/item-->
        
        <div class="item">
        	<a href="/"><img id="pic8"></a><!-- Image must be 400px by 300px -->
        	<h3>FANTASY</h3><!--Title-->
            <p>photography</p><!--Category-->
        </div><!--/item-->
        
        <div class="item">
        	<a href="/"><img id="pic9"></a><!-- Image must be 400px by 300px -->
        	<h3>PORTRY</h3><!--Title-->
            <p>photography</p><!--Category-->
        </div><!--/item-->
        
         <div class="item">
        	<a href="/"><img id="pic10"></a><!-- Image must be 400px by 300px -->
        	<h3>VAMPIRE</h3><!--Title-->
            <p>photo manipulation</p><!--Category-->
        </div><!--/item-->
        
        <div class="clearfix"></div>
    </section> <!-- Work Links Section End -->

