<%- contentFor('layout') %>
<link rel="stylesheet" href="/css/login.css">
<section class="login">
  <div class="jumbotron text-center" id="LIC">
    
    <form action="/auth/facebook" method="GET" id="FBlogin">
      <button type="submit" class="btn btn-primary btn-block">Continue with Facebook</button>
    </form>
  	<form action="/login" method="POST" id="LIfrom">
      <div class="input-group">
    		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    		<input id="email" type="text" class="form-control" name="email" placeholder="Email">
  		</div>
      <% if ( login === false ) { %>
    		<div class="input-group has-error has-feedback">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      		<input id="password" type="password" class="form-control" name="password" placeholder="Wrong Email Password Combination">
    		</div>
      <% } else { %>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
      <% } %>
  		<div class="form-group" >
        <button type="submit" class="btn btn-primary btn-lg" id="LIbtn" >login</button>
      </div>
    </form>
	</div>
  <div class="login-content">
    <h2>Welcome to the Story World!</h2>
    <p>The best place to explore stories</p>
  </div>
</section>