<%- contentFor('layout') %>
<link rel="stylesheet" href="/css/post.css">
<meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- main JS libs -->
    <script src="js/libs/jquery-1.10.2.min.js"></script>
    <script src="js/libs/jquery-ui.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>

    <!-- Style CSS -->
    <link href="css/bootstrap.css" media="screen" rel="stylesheet">
    <link href="stylepost.css" media="screen" rel="stylesheet">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
	<link rel="stylesheet" href="/css/layout.css">

    <!-- General Scripts -->
    <script src="js/general.js"></script>
	<!--for post-->
	<link rel="stylesheet" href="css/chosen.css">
	<script src="js/chosen.jquery.min.js" type="text/javascript"></script>
	<script src="js/nicEdit.js"></script>
	<script type="text/javascript" src="js/jquery.powerful-placeholder.min.js"></script>       
    <!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
	
<script>	
    // Fire multiselect
    jQuery(document).ready(function() {
        jQuery('#TYPE').chosen({ width: "100%" });
        jQuery('#commentForm .link-reset').click(function(){
            jQuery("#TYPE").trigger("chosen:updated");
        });
    });

    // Fire Text Editor
    bkLib.onDomLoaded(function() {
        var myNicEditor = new nicEditor({
            buttonList : [
                'bold',
                'italic',
                'underline',
                'forecolor',
                'left',
                'center',
                'right',
                'justify'
            ]
        });
        myNicEditor.panelInstance('contain');

        jQuery('#commentForm .link-reset').click(function(){
            myNicEditor.removeInstance('contain');
            $('#contain').val('');
            myNicEditor.panelInstance('contain');
        });
    });
</script>

	<!-- UIkit JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>

<section class="ppost">
<div class="uk-section uk-section-Muted">
<div class="uk-container uk-container-large">
<div class="add-comment contact-form styled">
	<h1 style="font-size:60px;color:white;margin-left:5%;margin-top:8%;">EDIT STORY</h1>
    <div class="comment-form">
        <form action="/post" method="post" id="commentForm">
            <div class="inner">
                <div class="field_select">
                    <label for="TYPE" class="label_title">TYPE</label>
                    <select name="TYPE" id="TYPE" multiple data-placeholder="Select Category">
                        <option value='example1@gmail.com'>ROMANCE</option>
                        <option value='example2@gmail.com'>HUMOR</option>
                        <option value='example3@gmail.com'>ADVANTURE</option>
                        <option value='example4@gmail.com'>CLASSICS</option>
                        <option value='example5@gmail.com'>HORROR</option>
											  <option value='example6@gmail.com'>SCIENCE-FICTION</option>
                        <option value='example7@gmail.com'>PORTRY</option>
                        <option value='example8@gmail.com'>FANTASY</option>
                        <option value='example9@gmail.com'>TEEN FICTION</option>
                        <option value='example10@gmail.com'>VAMPIRE</option>
                    </select>
                </div>
                <div class="field_text">
                    <label for="title" class="label_title">title</label>
                    <input type="text" name="title" id="title" class="text1" value="" placeholder="You can add a title" />
                </div>
                <div class="field_text field_textarea">
                    <label for="contain" class="label_title">Message</label>
                    <textarea name="contain" id="contain"></textarea>
                </div>
				<div class="field_text field_textarea">
                    <label for="contain" class="label_title">Message</label>
                    <textarea name="contain"  class="text" id="contain"></textarea>
                </div>
                <div class="rowSubmit clearfix">
                    <a href="#" class="link-reset btn btn-gray btn-discard" onclick="document.getElementById('commentForm').reset(); return false">
											<span>DISCARD</span>
                    </a>
                    <span class="btn btn-submit">
                        <input type="submit" id="send" value="SUBMIT" />
										</span>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</section>



