<%- contentFor('layout') %>

<link rel="stylesheet" href="/css/unlock.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
<link rel="stylesheet" href="/css/layout.css">
<!-- jQuery is required -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>

<section class="hero">
<div class="uk-section uk-section-primary">
    <div class="uk-container uk-container-large">
		<article class="uk-article">
			<h1 class="uk-article-title"><a class="uk-link-reset" href=""><%= story.title %></a></h1>
			<p class="uk-article-meta">Written by <a><%= story.author %></a> on 20th Oct 2017</p>
			<p class="uk-text-lead"><%= story.type %></p>

			<div class="uk-panel">
				<!--image-->
				<img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent"  src="../docs/img/light.jpg" width="225" height"150" alt="Example image">
				<p><%- story.contain[0] %></p>
			</div>
			<hr class="uk-divider-icon">
				<% if (locked == 0) { %>
					<div>
						<a class="uk-button uk-button-text uk-button-large uk-width-1-1" href="/unlock">Read more</a>
					</div>
					<div>						
						<button class="uk-button uk-button-text uk-button-large uk-width-1-1" uk-toggle="target: #toggle-animation; animation: uk-animation-fade" href="#toggle-animation""><%= story.comment_Id.length%> Comments</button>
						
						<div id = "toggle-animation">
							<% for(var i = 0; i < story.comment_Id.length ; i++) {%>				
							<div class="container" id="toggle-animation">
							<blockquote class="quote-box">
								<p class="quotation-mark">
									“
								</p>
								<p class="quote-text">
									<%= story.comment_Id[i].contain%> 
								</p>
								<hr>
								<div class="blog-post-actions">
								<p class="blog-post-bottom pull-left">
									<%= story.comment_Id[i].author%> 
								</p>
								<p class="blog-post-bottom pull-right">
								<button class="badge quote-badge">896  ❤</button>
								</p>
								</div>
							</blockquote>
							</div>
							<% } %>
							
						</div>
						
						
					</div>
				<% } %>
			
			<% if (locked == 1) { %>
				<!--image-->
				<img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent"  src="../docs/img/light.jpg" width="225" height"150" alt="Example image">
				<p><%= story.contain[1] %></p>
				<div>						
						<button class="uk-button uk-button-text uk-button-large uk-width-1-1" uk-toggle="target: #toggle-animation; animation: uk-animation-fade" href="#toggle-animation""><%= story.comment_Id.length%> Comments</button>
						
						<div id = "toggle-animation">
							<% for(var i = 0; i < story.comment_Id.length ; i++) {%>				
							<div class="container" id="toggle-animation">
							<blockquote class="quote-box">
								<p class="quotation-mark">
									“
								</p>
								<p class="quote-text">
									<%= story.comment_Id[i].contain%> 
								</p>
								<hr>
								<div class="blog-post-actions">
								<p class="blog-post-bottom pull-left">
									<%= story.comment_Id[i].author%> 
								</p>
								<p class="blog-post-bottom pull-right">
								<button class="badge quote-badge">896  ❤</button>
								</p>
								</div>
							</blockquote>
							</div>
							<% } %>
							<a class="uk-button uk-button-large uk-width-1-1" href="/postcom">comment</a>
						</div>
			<% } %>
		
		</article> 
    </div>
</div>
<!--
<div class="container" id="cardposition">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>Nicole Pearson</h2>
                    <p><strong>About: </strong> Writting lover, engineer </p>
                    <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                    <p><strong>Skills: </strong>
                        <span class="tags">Romance</span> 
                        <span class="tags">Scary</span>
                        <span class="tags">Fiction</span>
                        <span class="tags">Detective</span>
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img class="img-circle img-responsive" id="pic">
                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 20,7K </strong></h2>                    
                    <p><small>Followers</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>245</strong></h2>                    
                    <p><small>Following</small></p>
                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>43</strong></h2>                    
                    <p><small>Snippets</small></p>
                    <div class="btn-group dropup btn-block">
											<div style="margin: auto;">
    									<a href="#" id="aa"><i class="fa fa-dribbble"></i></a> 
    									<a href="#" id="aa"><i class="fa fa-twitter"></i></a>  
    									<a href="#" id="aa"><i class="fa fa-linkedin"></i></a>  
    									<a href="#" id="aa"><i class="fa fa-facebook"></i></a> 
 											</div>
                    </div>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>
-->
	
</section>
