<%- contentFor('layout') %>
<link rel="stylesheet" href="/css/search.css">
<link rel="stylesheet" href="css/search1.css" media="screen" type="text/css" />
<p><a href="#">
    Search result
</a></p>
<section class="ssearch">
<% if (result.length<1) {%>
	<font style="font-weight:bold; font-size:45px; color:#FFF;"> No search result </font>
<% }%>
<% for(var i = 0; i < result.length ; i++) {%>
<a href="/story?title=<%=result[i].title%>">
  <div style="width:100%;height:221px;" onclick="sclick()">
  <ul class="result">
		<% if (result[i].pictures[0]) {%>
			<img src=<%=result[i].pictures[0]%> alt="" width="260" height="171" />
		<% }else { %>
			<img src="../../public/img/search_default.jpg" alt="" width="260" height="171" />
		<% } %>
		<a href="/story?title=<%=result[i].title%>" style="font-weight:bold; font-size:25px; color:#FFF;"> Title: <%=result[i].title%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Author: <%=result[i].author%></a>
		<font style="font-weight:bold; font-size:20px; color:#F00;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Likes: <%=result[i].like%> </font>
		<font style="font-weight:bold; font-size:20px; color:#FFFF00;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Coins: 1 </font>
		<br>
  </ul>
  </div>
</a>
<% } %>
</section>
