<%- contentFor('layout') %>
<link rel="stylesheet" href="/css/sign_up.css">
<section class="sign_up">
  <div class="jumbotron text-center" id="SUC">
  	<form action="/sign_up" method="POST" id="SUfrom">
  		<div class="input-group">
    		<span class="input-group"><i class="glyphicon glyphicon-user"></i></span>
    		<input id="firstname" type="text" class="form-control" name="firstname" placeholder="Firstname">
  		</div>
  		<div class="input-group">
    		<span class="input-group"><i class="glyphicon glyphicon-user"></i></span>
    		<input id="lastname" type="text" class="form-control" name="lastname" placeholder="Lastname">
  		</div>
  		 <div class="input-group">
    		<span class="input-group"><i class="glyphicon glyphicon-user"></i></span>
    		<input id="username" type="text" class="form-control" name="username" placeholder="Username">
  		</div>
  		<% if ( login === false ) { %>
  			 <div class="input-group has-error has-feedback">
	    		<span class="input-group"><i class="glyphicon glyphicon-remove input-control-feedback"></i></span>
	    		<input id="emailw" type="text" class="form-control" name="email" placeholder="Email Address Already Exists">
	  		</div>
  		<% } else { %>
	      <div class="input-group">
	    		<span class="input-group"><i class="glyphicon glyphicon-user"></i></span>
	    		<input id="email" type="text" class="form-control" name="email" placeholder="Email">
	  		</div>
	  	<% } %>
  		<div class="input-group">
    		<span class="input-group"><i class="glyphicon glyphicon-lock"></i></span>
    		<input id="password" type="password" class="form-control" name="password" placeholder="Password">
  		</div>
  		<div class="form-group text-center" >
        <button id="SUbtn" type="submit" class="btn btn-primary btn-lg">Sign Up</button>
      </div>
    </form>
	</div>
  <div class="sign_up-content">
    <h2>Welcome to the Story World!</h2>
    <p>The best place to explore stories</p>
  </div>
</section>